h1 {
    display: flex;
    margin-top: 20px;
    font-size: 50px;
    justify-content: center;
}

body {
    display: flex;
    background-color: rgb(67, 37, 4);
    align-items: center;
    justify-content: center;
}

.container {
    border: 5px black;
    margin-right: 50px;
    display: flex;
    justify-content:inherit;

}

#key {
    background-color: antiquewhite;
    height: 700px;
    width: 75px;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    border: 1px;
    margin-top: 120px;  
    padding: 0;
}

#keySharp {
    background-color: black;
    height: 700px;
    width: 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: x-large;
    color: antiquewhite;
    margin-bottom: 600px;
    border: 1px;
    margin-top: 50px;
    padding: 0;

}
